version: 2.1

jobs:
  say-hello:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

  build:
    docker:
      - image: blang/latex:ubuntu
    environment:
      GIT_SSH_COMMAND: "ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no"
    steps:
      - checkout
      - run:
          name: Setup SSH
          command: |
            mkdir -p ~/.ssh
            echo "$SSH_CIRCLECI_PRIVATE_KEY" > ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519
            ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: Compile LaTeX CV
          command: |
            cd src
            latexmk -pdf cv.tex
      - run:
          name: Push built PDF to repo
          command: |
            git config --global user.name "circleci-bot"
            git config --global user.email "ci@example.com"
            git add src/cv.pdf
            git commit -m "Auto-build CV PDF [ci skip]" || echo "No changes"
            git push origin HEAD

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
  build-workflow:
    jobs:
      - build
