

name: Build LaTeX PDF

on:
  push:
    paths:
      - 'src/**/*.tex'
  schedule:
    - cron: '44 1 * * 1'

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile LaTeX Document
        uses: dante-ev/latex-action@latest
        with:
          root_file: my_cv.tex
          working_directory: src
          args: "--shell-escape -f"
        env:
          EMAIL: ${{ vars.EMAIL }}
          FIRSTNAME: ${{ vars.FIRSTNAME }}
          LASTNAME: ${{ vars.LASTNAME }}
          MOBILE: ${{ vars.LASTNAME }}
          LINKEDIN: ${{ vars.LINKEDIN }}

      - name: Save PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my_cv.pdf
          path: src/my_cv.tex

      - name: Commit PDF
        env:
            TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        run: |
            env
            git config --global user.name "CV-bot"
            git config --global user.email "bot@example.com"
            git remote set-url origin https://x-access-token:${TOKEN}@github.com/${{ github.repository }}
            mv src/my_cv.tex my_cv.pdf
            git add my_cv.pdf
            git commit -m "Auto-compiled CV" || echo "No changes to commit"
            git push