

name: Build LaTeX PDF

on:
  push:
    paths:
      - 'src/**/*.tex'
  workflow_dispatch:
jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:



      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile LaTeX Document
        uses: dante-ev/latex-action@latest
        with:
          root_file: my_cv.tex
          working_directory: src


      - name: Save PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my_cv.pdf
          path: my_cv.pdf


      - name: Run check of what's in pwd
        run: ls -la

      - name: Run check of what's in src
        run: ls -la src



#          # Get the current origin URL
#          origin_url=$(git config --get remote.origin.url)
#          # Check if the origin URL is empty
#          # Check if the origin URL is using HTTPS
#          if [[ $origin_url == https://* ]]; then
#            # Extract domain, user, and repo name
#            ssh_url=$(echo $origin_url | sed -r 's|https://([^/]*)/([^/]*)/([^/]*)(.git)?|git@\1:\2/\3|')
#            # Change the origin URL to SSH
#            git remote set-url origin $ssh_url
#            echo "Git origin URL has been migrated from HTTPS to SSH. $ssh_url"
#          fi
#
##          mv ./src/my_cv.pdf ./my_cv.pdf
##          git config --global user.name "GitHub Actions"
##          git config --global user.email "actions@github.com"
      - name: Commit PDF
        env:
            TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        run: |
            git config --global user.name "CV-bot"
            git config --global user.email "bot@example.com"
            git remote set-url origin https://x-access-token:${TOKEN}@github.com/${{ github.repository }}
            git add .
            git commit -m "Auto-compiled CV" || echo "No changes to commit"
            git push
#            git push origin HEAD

#      - name: Create Release
#
#        uses: actions/checkout@v4
#      - name: Run check of pwd
#        run: pwd
#      - name: Run check of what's in pwd
#        run: ls
#
#      - name: check for changes
#        run: git status
#      - name: stage changed files
#        run: git add .
#      - name: commit changed files
#        run: git commit -m git commit -m "Auto-build PDF from LaTeX" || echo "No changes to commit"
##      - name: fetch from master
##        run: git fetch origin master
#      - name: push changes
#        run: git push

